{% if article.urlImage is not empty %}
    {% set imgHref = article.urlImage %}
{% else %}
    {% set imgHref = 'http://placehold.it/700x400' %}
{% endif %}
<div class="card mb-4">
    <div class="row no-gutters">
        <div class="col-md-4">
            <a href="/article/{{ article.idArticle }}">
                <img class="card-img" src="{{ imgHref }}" alt="{{ article.nom }}">
            </a>
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <h4 class="card-title">
                    <a href="/article/{{ article.idArticle }}">{{ article.nom }}</a>
                </h4>
                <h5>{{ article.prix }}€</h5>
                <p class="card-text">{{ article.description }}</p>
            </div>
            {% if session.admin %}
                <div class="card-footer">
                    <div class="btn-group btn-group-md col-md-8 p-0 offset-md-8" role="group">
                        <button type="button" class="btn btn-primary mx-2 rounded">Modifier</button>
                        <button type="button" class="btn btn-danger mx-2 rounded">Supprimer</button>
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
</div>